<div id="mainDiv">
  <div class="ColorSignIn"></div>
  <div class="colorLogin">
    <div id="signInDiv">
      <div style="padding-bottom: 5vh; padding-top: 2vh;"><h2>Sign up</h2></div>
        <form #ngSignup="ngForm" (ngSubmit)="onSubmit(file.files)">
          <div class="divSign ">
            <label  for="userName">userName:</label>
            <input  type="text"  placeholder="yogev" name="userName"  [(ngModel)]="user.UserName" userName #userName="ngModel" required/>
            <div class="alert-danger" *ngIf="ngSignup.submitted && userName.errors">
              <div *ngIf="userName.errors['userName']">Invalid username</div>
            </div>
          </div>
          <div  class="divSign ">
            <label  for="password">Password:</label>
            <input  type="password"  placeholder="121212" name="password"  [(ngModel)]="user.Passwors" #password="ngModel" required/>
            <div class="alert-danger" *ngIf="ngSignup.submitted && password.errors">
              <div *ngIf="password.errors['required']">Password is required</div>
            </div>
          </div>
          <div class="divSign">
            <label  for="nickName">nickName:</label>
            <input  type="text" placeholder="yogi"  name="nickName" [(ngModel)]="user.DisplayName"  #nickName="ngModel" required/>
            <div class="alert-danger" *ngIf="ngSignup.submitted && nickName.errors">
              <div *ngIf="nickName.errors['required']">First name is required</div>
            </div>
          </div>
          <div class="divSign" >
              <label for="profilePic">profilePic:</label>
              <input type="file" #file required/>
          </div>
          <button  style="width: 6vw; height: 4vh;"  type="submit" value="Sign Up">Sign In</button> 
          <div class="alert alert-warning" *ngIf="ngSignup.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
          </div>
        </form>
      </div>
  </div>
  <div class="ColorSignIn"></div>
</div>

