
 <div class="container">
  <div class="page-container">
    <input id="sign-in" class="tab" type="radio" name="tab" checked />
    <label class="tab-label" for="sign-in">LOGIN</label>
    <input id="sign-up" class="tab" type="radio" name="tab" />
    <label class="tab-label" for="sign-up">SIGN UP</label>
    
    <div class="login-page">
      <div class="sign-in-page">
        <label class="control" for="username">USERNAME</label>
        <input id="username" class="input" type="text" autocomplete="off" [(ngModel)]="loginRequest.userName"/>
        <label class="control" for="password">PASSWORD</label>
        <input id="password" class="input" type="password" [(ngModel)]="loginRequest.password"/>
        <button  (click)="onSubmit()" class="input">SIGN IN</button>
      </div>
      
      <div class="sign-up-page">
        <label class="control" for="new-username">USERNAME</label>
        <input id="new-username" class="input" type="text" autocomplete="off" [(ngModel)]="signIn.UserName"/>
        <label class="control" for="new-password">PASSWORD</label>
        <input id="new-password" class="input" type="password" [(ngModel)]="signIn.Passwors"/>
        <label class="control" for="repeat-password">Display Name</label>
        <input id="repeat-password" class="input" type="password" [(ngModel)]="signIn.DisplayName"/>
        <label class="control" for="profilePic">IMAGE</label>
        <span class="input">
          <input #file type="file" class="input" autocomplete="off" name="theFile"/>
        </span>
        <button (click)="register(file.files)" class="input">SIGN UP</button>
        <label class="already-member" for="sign-in">Already a Member?</label>
      </div>
    </div>
  </div>
</div>