P{
  margin-bottom: 0; width: 13vw; font-size: 2vw; font-weight: bold;
}
img{
  width: 5.5vh; height: 5.5vh; border-left:0.25vh solid black ; border-radius: 50%;margin-right: 2vw;
}
input{
  border: 0.3vh solid black; width: 57vw;height: 5vh;
  border-radius: 2vh;
  font-size: 2.5vh;
  font: bold;
  margin-right: 2vh;
}
button{
  height: 5.5vh;
  margin-right: 1vh;
  border: 0;
  background-color: rgb(187 195 201) ;
  margin-left: 2vw;
}
button:hover{
  color: rgba(255, 255, 255, 0.619);
}
.messageContainer{
  max-height: 76.3vh;min-height: 74.3vh; overflow-y: scroll;

}
#sendMessage{
  display: flex; width: 65vw; justify-content: center; background-color: rgb(187 195 201); height: 10vh;
  align-items: center;
  box-shadow:  0 -4px 20px rgb(203 195 195 / 60%);
}
#againtsUser{
  display: flex;
  justify-content: end;
  text-align: center; 
  width: 65vw; 
  min-height: 8vh;
  background-color: rgb(94, 112, 128);
  align-items: center;
  box-shadow:  -7px 16px 25px rgba(0,0,0,.6);
  background-color: rgb(203 195 195 / 60%);
}
#onlyChat{
  display: flex;
  flex-direction: column;
  width: 65vw; height: 82vh; 
  background-color: rgb(231, 231, 234);

}
body{
  box-shadow:  -7px 16px 25px rgba(0,0,0,.6);
}
.mainDiv{
  display: flex;
  justify-content: center;
  background-color: rgb(185,122,87);
}
#messageHelpPink{ 
  width: 1vw; margin-top: 1vh;  border-top-left-radius: 5px; border-bottom-left-radius: 5px; background-color: rgb(208, 154, 154); 
}
.message{
  color: white; text-align: center; font-size: 15px; height: 3.5vh;  margin-top: 1vh; direction: rtl;  
}
.pink{
  background-color: rgb(208, 154, 154);
}
#messageHelpGreen{
  width: 1vw; margin-top: 1vh; border-bottom-right-radius: 5px;border-top-right-radius: 5px;  background-color: rgb(101, 171, 92); 
}
.green{
  background-color: rgb(101, 171, 92);
}
::-webkit-scrollbar{
  display: none; 
}
.game{
  background-color: white; width: 5vh; height: 5vh;
  border-radius: 0%;
  opacity: 2.7;
  width: 4.5vh; height: 4.5vh;
  margin-right: 1.5vh;
}
.game:hover{
  opacity: 0.5;
}