

<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div id="againtsUser">
    <p>{{chatUser}}</p>
    <img src="{{_hubChat.firstPic}}">
  </div>
  <div *ngIf="chatOrGame" id="onlyChat">
    <div class="messageContainer">
      <div *ngFor='let Message of _hubChat.messages' >
        <div *ngIf="Message.fromUser == user" class="d-flex justify-content-end">
          <div id="messageHelpPink"></div>
          <div class="pink message">{{Message.message}}</div>
          <div style="width: 1vh; margin-top: 1vh;" class="pink"></div>
        </div>
        <div *ngIf="Message.fromUser != user" class="d-flex flex-row">
          <div style="width: 1vh; margin-top: 1vh;" class="green"></div>
          <div class="message green">{{Message.message}}</div>
          <div id="messageHelpGreen"></div>
        </div>
      </div>
    </div>
    <div id="sendMessage">
      <button  class="glyphicon glyphicon-play" (click)="sendMessage(nameInput.value)"></button>
      <label for="name"></label>
      <input type="text" name="name" #nameInput (keydown.enter)="sendMessage(nameInput.value)"/>
      <img class="game" src="assets\img\backgammonkaplama(2).jpg"/>
      <button (click)="ChangGame()"></button>
    </div>
  </div> 
  <div style="width: 65vw; height: 82vh;" *ngIf="!chatOrGame"> 
    <app-game [gameUser] = "chatUser"></app-game>
  </div>
</body>
</html>


