.imgPlayers{
  position: relative; width: 20vh; height: 20vh;
}
.controll{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 8vh; 
  background-color: rgb(94, 112, 128);
  width: 65vw;
  align-items: flex-end;
}
.divWall{
  width: 5vw; 
  height: 37vh;
}
#black{
  background-color: black;
  background: -webkit-linear-gradient(top,rgba(25, 8, 2, 0.347), rgb(0, 0, 0) );
}
#white{
  background: -webkit-linear-gradient(top, rgb(221, 212, 212), rgba(75, 22, 7, 0.7));
}
.white{
  background: -webkit-linear-gradient(bottom, rgb(221, 212, 212), rgba(75, 22, 7, 0.7));
}
.black{
  background: -webkit-linear-gradient(bottom,rgba(25, 8, 2, 0.347), rgb(0, 0, 0) );
}
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: -webkit-linear-gradient(left,rgba(75, 22, 7, 0.7), rgb(75,22,7), rgba(75, 22, 7, 0.7));
  padding: 0;
  width: 65vw;
  height: 82vh;
} 
.hide {
  display: none;
  position: fixed; 
  right: -5vw; 
  top: -20vh;
}
.hide:hover{
  display: block;
  color: red;
  position: fixed; 
  right: -5vw; 
  top: -20vh;
} 
.startGameLeft{
  position: fixed; width: 20vh; height: 20vh;right: 105vh; top: 40vh; 
  animation-name: startGameLeft;
  animation-duration: 4s;
  visibility: hidden;
}
.vs{
  position: fixed; width: 20vh; height: 20vh;right: 95vh; top: 40vh; 
  font-size: 14vh;
  font-weight: bold;
  text-align: center;
  animation-name: vs;
  animation-duration: 4s;
  visibility: hidden;
}
@keyframes vs {
  from {visibility: visible;}
  to {visibility: hidden;}
}
@keyframes startGameLeft {
  from {right: 105vh;visibility: visible;}
  to {right: 190vh;visibility: visible;}
}
.startGameRight{
  position: fixed; width: 20vh; height: 20vh;right: 75vh; top: 40vh; 
  animation-name: startGameRight;
  animation-duration: 4s;
  visibility: hidden;
}
@keyframes startGameRight {
  from {right: 85vh;visibility: visible;}
  to {right: 0vh; visibility: visible;}
}
.myDIV:hover + .hide {
  display: block;
  color: red;
}
.myDIV{
  background: -webkit-linear-gradient(left, rgb(36, 35, 35), rgb(235, 222, 222));
  position: fixed;
  right: 40px; 
  top: 40px; 
  width: 5vw; 
  height: 5vw; 
  border-radius: 50%;
}
.text{
  padding-top: 1.2vw;  
  text-align: center; 
  font-size: 3vh; 
  font-weight: bold;
  color: red;
}
.dontShow{
  display: none;
}
.clickwhite{
  background-color: black;
  color: white;
  width: 5vh;
  height: 5vh;
  border-radius: 50% ;	
  border: 2px solid white;
}
.clickblack{
  background-color: white;
  color: black;
  width: 5vh;
  height: 5vh;
  border-radius: 50% ;	
  padding:55px solid white;
}
.categories {
  display: flex;
  flex-wrap: wrap; /* NEW */
  background: -webkit-linear-gradient(top, rgb(173,125,45), rgba(173, 126, 45, 0.49));
  width: 65vw; 
  height: 74vh;
  /* border-left: 3vw solid rgb(142, 91, 3); 
  border-right: 3vw solid rgb(142, 91, 3);  */
 }
.circle {
  height: 4vh;
  width: 4vh;
  min-width: 2%;
  min-height: 2%;
  border: 2px;
  background-color: black;
  border-radius: 50%;	
  z-index: 5;
  object-position:  top;
  position: relative;
}
.picesOfBoard{
  background: -webkit-linear-gradient(left, rgb(173,125,45), rgba(173, 126, 45, 0.49));
  filter: drop-shadow(55px 50px 40px rgba(218, 163, 67, 0.515));
  height: 34.5vh;  
  border-left: 1vw solid rgb(142, 91, 3); 
  border-right: 1vw solid rgb(142, 91, 3); 
  width: 5vw;
  border-bottom: 0px ;
  border-top: 0px ;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  box-shadow:  0px 0px 0px rgba(0,0,0,.6);

}
.wall{
  background-color:rgb(142, 91, 3); 
  height: 2.5vh;  
  width: 5vw;  
  text-align: center;
}

.divHelp{
  position: absolute;
  object-position: left;
  display: flex;
  flex-direction: column-reverse;
}
.divHelpBottom{
  position: absolute;
  object-position: left;
  display: flex;
  flex-direction: column-reverse;
  transform: rotate(180deg);
  height: 25vh;
} 
.arrow-up-bottom {
  width: 0; 
  height: 0px; 
  border-left: 2.25vw solid transparent;
  border-right: 2.25vw solid transparent;
  border-bottom: 25vh solid rgb(125,22,0);
  transform: rotate(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow-up-bottom-white {
  width: 0; 
  height: 0px; 
  border-left: 2.25vw solid transparent;
  border-right: 2.25vw solid transparent;
  border-bottom: 25vh solid rgb(215,180,107);
  transform: rotate(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow-up-top {
  width: 0; 
  height:0; 
  border-left: 2.25vw solid transparent;
  border-right: 2.25vw solid  transparent;
  border-top: 25vh solid rgb(125,22,0);
  display: flex;
  transform: rotate(180deg);
  align-items: center;
  flex-direction: column-reverse;
}
.arrow-up-top-white {
  width: 0; 
  height:0; 
  border-left: 2.25vw solid transparent;
  border-right: 2.25vw solid  transparent;
  border-top: 25vh solid rgb(215,180,107);
  display: flex;
  transform: rotate(180deg);
  align-items: center;
  flex-direction: column-reverse;
}
.canThrowtrue{
  background-color: rgb(184, 152, 98);
}
.canThrowfalse{
  background-color:rgb(142, 91, 3)
}
.canThrow{
  background-color:rgb(142, 91, 3)
}
.true.arrow-up-top-white {
  background-color: rgb(184, 152, 98);
  border-top: 25vh solid rgb(215, 179, 107);
} 
.true.arrow-up-top {
  background-color: rgb(184, 152, 98);
  border-top: 25vh solid rgb(215, 179, 107);
}   
.true.arrow-up-bottom-white {
  background-color: rgb(184, 152, 98);
  border-bottom: 25vh solid rgb(215, 179, 107);
} 
 .true.arrow-up-bottom {
  background-color: rgb(184, 152, 98);
  border-bottom: 25vh solid rgb(191, 86, 62);
}   
.chat{
  background: -webkit-linear-gradient(left, black, white);
}