  
  <div class="title">Contact Connected</div>
    <div  style="background-color: white; width: 20vw;">
      <div style="width: 20vw;" *ngIf="!isUserAuthenticated()"> 
        <div style="overflow-y: scroll; height: 65vh;">
          <div *ngFor="let player of allContact">
            <div id="divImg" style=" display: flex; flex-direction: row;  align-items: center;"  *ngIf="player != myUser">
                <div style="width: 35%;"><img class="bigImg" src="{{player?.profilePic}}"></div>
                <div style="width: 63%;" class="row">
                  <div style="display: flex; flex-direction: column;">
                    <div>{{player.displayName}}</div>
                  </div>
                </div>
                <div style="background-color:gray; height:2.5vh; width: 2.5vh; border-radius: 50%;"></div>
            </div>
          </div>
        </div> 
      </div>
    </div>
    <div *ngIf="isUserAuthenticated()">  
      <button id="logout" (click)="Logout()">logout</button>
      <div class="contactContainer">
        <div *ngFor="let contact of _hubContact.listContact">
          <div *ngIf="contact.online">
            <div *ngIf="contact.displayName != myUser"> 
              <tr>
                <td><img class="bigImg" src="{{contact?.profilePic}}"></td>
                <td>{{contact.displayName}}</td>
                <td><button (click)="SendRequestMessage(contact.displayName)">Chat</button></td>
                <td><button (click)="SendRequestGame(contact.displayName)">game</button></td>
                <div style="width: 1vw; background-color:green; height:1vw; border-radius: 50%;"></div>
              </tr>
            </div>
          </div>
        </div>
      </div>
      <div class="contactContainer">
        <div *ngFor="let contact of _hubContact.listContact">
          <div *ngIf="contact.displayName!= myUser">
            <div *ngIf="!contact.online">
              <tr>
                <td class="tdBorderTopRight"><img class="bigImg"  src="{{contact?.profilePic}}"></td>
                <td class="tdBorderTopRight">{{contact.displayName}}</td>
                <div style="width: 1vw; background-color:gray; height:1vw; border-radius: 50%;"></div>
              </tr>
            </div>
          </div>
        </div>
      </div>
    </div>  