.page-container {
    background: rgba(40, 57, 101, 0.8);
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-top: 7vh;
    padding-left: 10vh;
}
.green{
    background-color: rgb(101, 188, 101);
}
.bigImg{
    margin-left: 1vw;
    width: 2.5vw; 
    height: 2.5vw; 
    border-radius: 50%;
    
}
#divImg:hover .bigImg{
    width: 4.7vw;
    height: 11vh;
    z-index: 3;
    display: flex;
}
#divImg{
    margin-top: 0.5vh; display: flex; flex-direction: row;  align-items: center;
}
::-webkit-scrollbar{
    display: none; 
  }

.contact-container{
    width: 20vw; height: 90vh; background-color:rgb(189, 212, 232);
}
.title{
    min-height: 8vh; background-color: rgb(94, 112, 128); display: flex; align-items: center;
}
.title div{
    display: flex; align-items: center; font-size: 3.5vh ; margin-left: 2vh;
}

.displayName{
    border-bottom: 0.2vh solid rgb(185, 182, 182) ;width: 63%;height: 7vh;
}
.displayName div{
    display: flex; flex-direction: column;justify-content: center;
}
.circle{
    border-bottom: 0.2vh solid rgb(185, 182, 182) ;width: 5vh; height:7vh ; display: flex; align-items: center;
}
.circle div{
    height:2.5vh; width: 2.5vh; border-radius: 50%;
    
}