
<div class="page-container">
  <div class="contact-container">
    <div class="title"><div>Contact</div></div>
    <div style="overflow-y: scroll;">  
      <div *ngFor="let contact of _hubContact.listContact">
        <div *ngIf="contact.online && contact.displayName != myUser" (click) = "Chat(contact.displayName, contact.profilePic)" id="divImg">
          <div style="width: 35%;"><img class="bigImg" src="{{contact?.profilePic}}"></div>
          <div class="row displayName">
            <div><div>{{contact.displayName}}</div></div>
          </div>
          <div class="circle">
            <div class="green"></div>
          </div>
        </div>
      </div>
      <div *ngFor="let contact of _hubContact.listContact">
        <div *ngIf="!contact.online && contact.displayName != myUser" (click) = "Chat(contact.displayName, contact.profilePic)" id="divImg" style="margin-top: 0.5vh; display: flex; flex-direction: row;  align-items: center;">
          <div style="width: 35%;"><img class="bigImg" src="{{contact?.profilePic}}"></div>
          <div class="row displayName">
            <div><div >{{contact.displayName}}</div></div>
          </div>
          <div class="circle" >
            <div style="background-color: gray;"></div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <app-chat [chatUser] = "chatUser" style=" height: 80vh;"></app-chat>
</div> 