<div  class = "scene">
    <div class="cube {{currentClass}} ">
        <div *ngIf="currentClass == 'show-undefined' || currentClass == 'show-0'" class="cube__face cube__face--1 {{color}}">0</div>
        <div *ngIf="currentClass != 'show-undefined' && currentClass != 'show-0'" class="cube__face cube__face--1 {{color}}">1</div>
        <div class="cube__face cube__face--2 {{color}}">2</div>
        <div class="cube__face cube__face--3 {{color}}">3</div>
        <div class="cube__face cube__face--4 {{color}}">4</div>
        <div class="cube__face cube__face--5 {{color}}">5</div>
        <div class="cube__face cube__face--6 {{color}}">6</div>
    </div>
</div>